﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Upload your file</h2>
        <form asp-controller="Home" asp-action="ViewCustomers" method="post"
              enctype="multipart/form-data">

            <input type="file" name="file" />
            <button type="submit">Upload File</button>
        </form>
    </div>
</div>
