﻿@model IEnumerable<Webling.Models.Customer>

@{
    ViewData["Title"] = "ViewCustomers";
}

<h2>Customers / Invoices List</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                Invoice ID
            </th>
            <th>
                Note
            </th>
            <th>Due Date</th>
            <th>Created Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>

                <td colspan="7">

                    @foreach (var invoice in item.Invoices)
                    {
                        <table>

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => invoice.InvoiceID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => invoice.Note)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => invoice.DueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => invoice.CreatedDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        @foreach (var product in invoice.Items)
                                        {
                                        
                                            <tbody>
                                                <tr>
                                                    <td>
                                                       Product - @Html.DisplayFor(modelItem => product.ProductName)/
                                                    </td>
                                                    <td>
                                                      Quantity - @Html.DisplayFor(modelItem => product.Quantity)/
                                                    </td>
                                                    <td>
                                                      Price -   @Html.DisplayFor(modelItem => product.UnitPrice)/
                                                    </td>

                                                </tr>
                                            </tbody>



                                        }
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total - @Html.DisplayFor(modelItem => invoice.Total)
                                </td>
                            </tr>

                        </table>
                    }

                </td>


            </tr>

        }
    </tbody>
</table>
